.centrar{
    text-align: center;
}


.footer {
  position: relative;
  padding: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(201, 215, 215);
  color: black;
  text-align: center;
}
